{{#if loggedIn}}
<h1>Homepage</h1>
{{#each posts}}
    <div class="post">
        <h2><a href="/posts/{{this.id}}">{{this.title}}</a></h2>
        <p>Posted by {{this.User.username}} on {{this.createdAt}}</p>
    </div>
{{/each}}
{{/if}}
