<h2 class="login-h2">Login</h2>
<form class="login-form">
    <div>
        <label for="username-login">Username:</label>
        <input id="username-login" type="text" placeholder="Username">
    </div>
    <div>
        <label for="password-login">Password:</label>
        <input id="password-login" type="password" placeholder="Password">
    </div>
    <button type="submit">Login</button>
</form>

<h2 class="signup-h2">Signup</h2>
<form class="signup-form">
    <div>
        <label for="username-signup">Username:</label>
        <input id="username-signup" type="text" placeholder="Create a username">
    </div>
    <div>
        <label for="password-signup">Password:</label>
        <input id="password-signup" type="password" placeholder="Create a password">
    </div>
    <button type="submit">Signup</button>
</form>

<script src="/js/login.js"></script>